{
  "name": "interferenze-beta",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "style.css",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"style.css\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "frontend/js/hover.intent.js",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"frontend/js/hover.intent.min.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "frontend/js/custom-code.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"frontend/js/custom-code.min.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "frontend/css",
      "frontend/js",
      "backend",
      "frontend"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 80,
    "assignNewPortAutomatically": false,
    "enable": true,
    "proxy": {
      "enable": true,
      "url": "http://localhost/wordpress/interferenze"
    }
  },
  "browser-sync": {
    "enable": true,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "/htdocs/wp-content/themes/interferenze-beta/",
    "uploadTimeout": 20000,
    "uploadOnChange": true,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "ftp.interferenze.org",
      "port": 21,
      "user": "interferenze.org",
      "password": "uimaisai"
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": [
      {
        "file": ".gitignore",
        "ctime": "2018-02-23T23:31:52.365Z",
        "mtime": "2018-02-21T22:08:09.083Z",
        "size": 0
      },
      {
        "file": "404.php",
        "ctime": "2018-02-28T13:16:22.172Z",
        "mtime": "2018-02-28T13:16:22.172Z",
        "size": 964
      },
      {
        "file": "archive-project.php",
        "ctime": "2018-02-27T14:51:19.837Z",
        "mtime": "2018-02-27T14:51:19.837Z",
        "size": 1848
      },
      {
        "file": "archive-publication.php",
        "ctime": "2018-02-27T11:34:02.834Z",
        "mtime": "2018-02-27T11:34:02.834Z",
        "size": 3045
      },
      {
        "file": "archive.php",
        "ctime": "2018-02-28T11:57:06.302Z",
        "mtime": "2018-02-28T11:57:06.302Z",
        "size": 2825
      },
      {
        "file": "backend/functions-clean-up.php",
        "ctime": "2018-02-23T23:31:52.364Z",
        "mtime": "2018-01-16T08:54:37.000Z",
        "size": 1382
      },
      {
        "file": "backend/functions-enqueue.php",
        "ctime": "2018-03-06T09:29:58.004Z",
        "mtime": "2018-03-06T09:29:58.004Z",
        "size": 5449
      },
      {
        "file": "backend/functions-indent-head.php",
        "ctime": "2018-02-23T23:31:52.364Z",
        "mtime": "2018-01-16T08:54:37.000Z",
        "size": 431
      },
      {
        "file": "footer.php",
        "ctime": "2018-03-17T21:20:43.280Z",
        "mtime": "2018-03-17T21:20:43.280Z",
        "size": 1765
      },
      {
        "file": "frontend/css/style.css",
        "ctime": "2018-03-17T20:27:14.808Z",
        "mtime": "2018-03-17T20:27:14.808Z",
        "size": 42079
      },
      {
        "file": "frontend/js/custom-code.js",
        "ctime": "2018-03-02T09:36:28.378Z",
        "mtime": "2018-03-02T09:36:28.378Z",
        "size": 5315
      },
      {
        "file": "frontend/js/hammer.min.js",
        "ctime": "2018-02-23T23:31:52.363Z",
        "mtime": "2018-02-23T21:45:28.699Z",
        "size": 20765
      },
      {
        "file": "frontend/js/hover.intent.js",
        "ctime": "2018-02-24T17:24:41.371Z",
        "mtime": "2017-08-28T09:59:29.000Z",
        "size": 6918
      },
      {
        "file": "frontend/js/jquery-2.2.4.min.js",
        "ctime": "2018-02-23T23:31:52.363Z",
        "mtime": "2018-02-21T22:10:56.121Z",
        "size": 85578
      },
      {
        "file": "frontend/js/jquery.hammer.js",
        "ctime": "2018-02-23T23:31:52.363Z",
        "mtime": "2018-02-23T21:47:16.556Z",
        "size": 988
      },
      {
        "file": "frontend/js/jquery.lazy.min.js",
        "ctime": "2018-02-23T23:31:52.363Z",
        "mtime": "2017-09-27T23:36:55.193Z",
        "size": 5010
      },
      {
        "file": "frontend/js/jquery.smoothState.min.js",
        "ctime": "2018-02-23T23:31:52.362Z",
        "mtime": "2017-09-16T17:49:16.000Z",
        "size": 7138
      },
      {
        "file": "frontend/js/jquery.validate.min.js",
        "ctime": "2018-02-23T23:31:52.362Z",
        "mtime": "2018-02-21T23:45:45.797Z",
        "size": 23261
      },
      {
        "file": "functions.php",
        "ctime": "2018-02-28T13:02:18.760Z",
        "mtime": "2018-02-28T13:02:18.760Z",
        "size": 892
      },
      {
        "file": "header.php",
        "ctime": "2018-02-24T15:29:28.203Z",
        "mtime": "2018-02-24T15:29:28.203Z",
        "size": 2748
      },
      {
        "file": "index.php",
        "ctime": "2018-02-28T11:56:34.067Z",
        "mtime": "2018-02-28T11:56:34.067Z",
        "size": 5949
      },
      {
        "file": "page-about.php",
        "ctime": "2018-02-26T11:53:04.547Z",
        "mtime": "2018-02-26T11:53:04.547Z",
        "size": 518
      },
      {
        "file": "readme.md",
        "ctime": "2018-02-26T20:01:07.879Z",
        "mtime": "2018-02-26T20:01:07.879Z",
        "size": 19
      },
      {
        "file": "screenshot.png",
        "ctime": "2018-02-23T23:31:52.364Z",
        "mtime": "2018-01-16T08:54:37.000Z",
        "size": 256
      },
      {
        "file": "single-project.php",
        "ctime": "2018-03-06T08:05:42.448Z",
        "mtime": "2018-03-06T08:05:42.448Z",
        "size": 3291
      },
      {
        "file": "single-publication.php",
        "ctime": "2018-02-26T12:55:02.084Z",
        "mtime": "2018-02-26T12:55:02.084Z",
        "size": 1764
      },
      {
        "file": "style.css",
        "ctime": "2018-03-06T09:18:14.276Z",
        "mtime": "2018-03-06T09:18:14.276Z",
        "size": 50
      },
      {
        "file": "singular.php",
        "ctime": "2018-02-27T15:58:37.321Z",
        "mtime": "2018-02-27T15:58:37.321Z",
        "size": 567
      },
      {
        "file": "single.php",
        "ctime": "2018-02-27T16:42:19.252Z",
        "mtime": "2018-02-27T16:42:19.252Z",
        "size": 2189
      },
      {
        "file": "archive-people.php",
        "ctime": "2018-02-27T16:52:34.638Z",
        "mtime": "2018-02-27T16:52:34.638Z",
        "size": 1580
      },
      {
        "file": "frontend/img/404.svg",
        "ctime": "2018-02-28T12:51:33.548Z",
        "mtime": "2018-02-28T12:50:34.614Z",
        "size": 394275
      },
      {
        "file": "frontend/js/hover.intent.min.js",
        "ctime": "2018-03-06T09:19:19.320Z",
        "mtime": "2018-03-06T09:19:18.210Z",
        "size": 1394
      },
      {
        "file": "frontend/js/custom-code.min.js",
        "ctime": "2018-03-06T09:26:45.188Z",
        "mtime": "2018-03-06T09:26:45.188Z",
        "size": 2242
      }
    ]
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}